@use "../../sass/" as *;
.hero-slider {
    margin-bottom: 3rem;
    min-height: 100vh;
    @include tablet {
        min-height: auto;
        margin-bottom: -5rem;
    }
    @include mobile {
        margin-bottom: -12rem;
    }
    &__item {
        position: relative;
        // min-height: 100vh;
        padding: 9rem 0;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            @include overlay;
        }
        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 100px;
            bottom: 0;
            left: 0;
            background-image: linear-gradient( to top, $body-bg, rgba($black, 0));
        }
        &__content {
            @include flex(center, center);
            position: relative;
            z-index: 100;
            @include tablet {
                @include flex(center, unset);
            }
            &__info {
                width: 55%;
                padding: 0 3rem;
                @include mobile {
                    padding: 0;
                }
                position: relative;
                @include tablet {
                    width: 100%;
                }
                .title {
                    font-size: 3rem;
                    line-height: 3rem;
                    font-weight: 600;
                }
                .overview {
                    font-size: 1.5rem;
                    margin: 1rem 0;
                }
                // .btns {
                //     & *~* {
                //         margin-top: 14px;
                //     }
                // }
                .title,
                .overview,
                .btns {
                    opacity: 0;
                    transform: translateY(-100px);
                    transition: transform 0.5s ease, opacity 0.5s ease;
                }
            }
            &__poster {
                @include flex(center, flex-end);
                flex: 1;
                @include tablet {
                    display: none;
                }
                img {
                    width: 400px;
                    border-radius: $border-radius;
                    box-shadow: $box-shadow;
                    transform: scale(0);
                    transition: transform 0.7s ease;
                }
            }
        }
        &.active>&__content>&__content__poster {
            img {
                transform: scale(1);
            }
        }
        &.active>&__content>&__content__info {
            .title,
            .overview,
            .btns {
                opacity: 1;
                transform: translateY(0);
            }
            .title {
                transition-delay: 0.3s, 0.3s;
            }
            .overview {
                transition-delay: 0.6s, 0.6s;
            }
            .btns {
                transition-delay: 0.9s, 0.9s;
            }
        }
    }
}