@use "../../sass/" as *;
.footer {
    position: relative;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6rem 2rem;
    @include mobile {
        padding: 6rem 0;
    }
    &__content {
        max-width: 1000px;
        &__logo {
            @include flex(center, center);
            font-size: 2.5rem;
            font-weight: 600;
            margin-bottom: 2rem;
            img {
                margin-right: 14px;
                width: 50px;
            }
        }
        &__menus {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            @include mobile {
                grid-template-columns: repeat(2, 1fr);
            }
        }
        &__menu {
            @include flex(flex-start, flex-start);
            flex-direction: column;
            margin-top: 1rem;
            font-size: 1.5rem;
            font-weight: 600;
            &>*~* {
                margin-top: 1rem;
            }
        }
    }
}